html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

#container {
    display: grid;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-content: center;
}

#calculatorContainer {
    height: 450px;
    width: 300px;
    background-color: rgb(161, 161, 161);
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(95, 95, 95);
}

#display {
    margin: 5px 20% 5px 20%;
    height: 50px;
    width: 60%;
    background-color: skyblue;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    text-align: end;
    padding-right: 10px;
    color: black;
}

button {
    background-color: lightblue;
    outline: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(173, 216, 230, 0.678);
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 75px);
    margin: 10px;
}

#numberButtons {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: repeat(3, 1fr);
}

#numberButtons > button, #usefulButtons > button, #operatorButtons > button {
    font-weight: 800;
    cursor: pointer;
}

#operatorButtons {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    z-index: 0.5;
}

#operatorButtons > div {
    z-index: -10;
}

#usefulButtons {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-columns: repeat(3, 1fr);
}